.bg {
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(/assets/img/gifs-de-tecnologia-2.gif);
    background-size: cover;
    background-position: center center; 
}

.introduction {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    padding: 80px 0px 150px 20px;
    margin: 0 auto;
    align-items: center;
}
/*
.img {
    padding-top: 3rem;
    max-width: 300px;
    height: 400px;
}

.img img {
    height: 100%;
    width: auto;
    border-radius: 50%;
}
*/

.intro-content {
    color: white;
    display: flex;
    flex-direction: column;    
    align-items: center;
    
    max-width: max-content;
}

.intro-myself {
    display: flex;
    font-size: 2rem;
    text-align: start;
}

.intro-content h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-size: 4.4rem;
    font-weight: 600;   
    margin-bottom: 1rem;
}

.intro-content p {
    font-size: 2rem;
    text-align: center;    
    letter-spacing: .5px;
    border-right: 4px solid;
    width: 24ch;
    white-space: nowrap;
    overflow: hidden;    
    animation: typing 2.5s steps(21), blinking 0.5s
    infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 19ch;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

.intro-content .icons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 2rem;      
}

.intro-content .icons a {    
    display: flex;
    max-width: 50px;
    max-height: 50px;
    transition: .3s;
}
.intro-content .icons a:hover  {
    transform: scale(1.1);
}

.intro-content img {
    width: 100%;
    border-radius: 50%;
}

@media screen and (max-width:1200px) {
    
.introduction {
   display: flex; 
}

.intro-content h1 {    
    font-size: 3rem;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 0px;
    }

.intro-content p {
    margin-top: 15px;
    font-size: 1.5rem;
}
}

@media screen and (max-width:600px) {

    .introduction {
        padding: 100px 20px 150px 20px;
    }

    .intro-content h1 {
    font-size: 2.5rem;
    }
    .intro-myself, .intro-content p {
        font-size: 1.2rem;
    }

    .intro-content p {
    max-width: 310px;
    }
}