.project-content { 
    margin: 0 auto;
    max-width:1200px;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    gap: 50px; 
    padding:60px 60px 120px 60px;
}

.project-content h1 {
    grid-column: 1/-1;
    text-align: center;
    text-shadow: 2px 2px 2px var(--cor-p);
    letter-spacing: 5px;
    text-transform: uppercase;    
    font-size: 3rem;
}

.project-content img {
    width: 300px;
    height: 150px;
}

.projeto1 {    
    padding: 30px;
    border-radius: 8px;
    background:linear-gradient(90deg ,var(--cor-p), rgba(255, 255, 255, 0.8) 40%) ;
    align-items: center;
    display: flex;
    gap: 20px; 
    grid-column: 1/-1;
}

.projeto2 { 
    padding: 30px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;    
    background:linear-gradient(90deg ,rgba(255, 255, 255, 0.8) 40%, var(--cor-p) 90%);      
    grid-column: 2/-1;
    align-items: center;
    gap: 20px;
}

.projeto-detalhe1 {    
    width: 430px;
    text-align: right;    
}

.projeto-detalhe a, .projeto-detalhe1 a {
    font-weight: bold;
}

.projeto1 p, .projeto2 p {
    margin: 10px 0px;
    max-width: 430px;
}

@media screen and (max-width:1200px) {

    .project-content {
            max-width: 1200px;
    }
}

@media screen and (max-width:900px) {
    .project-content {
        max-width: 900px;
        padding: 30px 20px 100px 20px;
    }

    .projeto2 {
        align-items: center;
        display: flex;
        gap: 20px; 
        grid-column: 1/-1;
    }

}

@media screen and (max-width:660px){


    .projeto1, .projeto2 {
        flex-direction: column;
        justify-content: center;
        
    }
    .projeto-detalhe {
        text-align: center;
        max-width: 400px;
    }
    .projeto-detalhe1 {
        max-width: 300px;
        text-align: center;
    }

    .project-content img  {
        display: none;
    }

    .project-content {
        padding: 20px;
        gap: 30px;
    }
}