@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import "./header.css";
@import "./main.css";
@import "./about.css";
@import "./projects.css";

/*Cor*/

:root {
  --cor-p: rgb(67, 138, 237);
}

html {
  scroll-behavior: smooth;
}

.cor-p {
  color: var(--cor-p); 
}

/*Main*/

.js .fadeInDown {
    transform: translate3d(0, -20px, 0);
  }
.js .fadeInUp {
    transform: translate3d(0, 20px, 0);
  }
.js .fadeInRight {
    transform: translate3d(20px, 0, 0);
  }
.js .fadeInLeft {
    transform: translate3d(-20px, 0, 0);
  }

  [data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
  }

  [data-anime="right"] {
    transform: translate3d(50px, 0, 0);
  }

  [data-anime="top"] {
    transform: translate3d(0,-50px, 0);
  }

.js [data-anime] {
    opacity: 0;
  }
  
.js .anime {
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
  }

  .to-top {
    
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    transform: rotate(270deg);
  }

  .to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
  